<div ng-controller="DashboardCtrl">
    <md-subheader class="md-no-sticky">Welcome to your dashboard</md-subheader>

    <md-button class="md-raised md-primary" href="/dashboard/newProject">
        <div layout="horizontal">
            <i class="material-icons">add_circle_outline</i>
            New project
        </div>
    </md-button>

    <md-button class="md-raised md-primary" href="/dashboard/applications">
        See Applications
    </md-button>

    <md-data-table-toolbar>
        <h2 class="md-title">Ongoing projects</h2>
    </md-data-table-toolbar>

    <md-data-table-container>
        <table md-data-table md-row-select="selected" md-progress="deferred">
            <thead md-order="order">
            <tr>
                <th name="Name" order-by="name.values">Name</th>
                <th name="Date" order-by="date">Date</th>
                <th name="Location" order-by="location">Location</th>
                <th name="Volunteers" order-by="volunteers">Volunteers</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr md-auto-select ng-repeat="myProject in usersProjects">
                <td>{{myProject.name}}</td>
                <td>{{myProject.date}}</td>
                <td>{{myProject.location}}</td>
                <td> {{myProject.numberCandidate}} / {{myProject.maxNumberCandidate}}</td>
                <td>
                    <i class="material-icons clickable" href="/dashboard/project/{{myProject._id}}/edit">mode_edit</i>
                </td>
                <td>
                    <i class="material-icons clickable" ng-click="delete(myProject)">delete</i>
                </td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>
</div>