<div ng-controller="DashboardApplicationsCtrl">
    <md-subheader class="md-no-sticky">Dashboard - Applications </md-subheader>

    <md-data-table-toolbar>
        <h1 class="md-title">Pending applications</h1>
    </md-data-table-toolbar>

    <div ng-repeat="project in projects"></div>

    <md-content layout="column">
        <md-card ng-repeat="application in pendingApplications">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Alfred hitch for projectX</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <p>Project: {{application.project}}</p>
                <p>Applicant: {{application.user.name}}</p>
                <p>Applicant's points: {{application.user.points}}</p>
                <p>Applicant's cover letter: {{application.text}}</p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="answerApplication(application, true)">Accept</md-button>
                <md-button ng-click="answerApplication(application, false)">Decline</md-button>
            </md-card-actions>
        </md-card>
    </md-content>

    <md-data-table-toolbar>
        <h1 class="md-title">Completed applications</h1>
    </md-data-table-toolbar>

        <md-content layout="column">
            <md-card ng-repeat="application in answeredApplications">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Alfred hitch for projectX</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Project: {{application.project}}</p>
                    <p>Applicant: {{application.user.name}}</p>
                    <p>Applicant's points: {{application.user.points}}</p>
                    <p>Applicant's cover letter: {{application.text}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    {{application.status}}
                </md-card-actions>
            </md-card>
        </md-content>



</div>