<div ng-controller="ProjectsListCtrl">
    <form>
        <label>
            Name
            <input ng-model="newProject.name">
        </label>
        <label>
            Description
            <input ng-model="newProject.description">
        </label>
        <button ng-click="allProjects.push(newProject); newProject='';">Add</button>
    </form>

    <ul>
        <li ng-repeat="project in allProjects">
            {{project.name}}
            <p>{{project.description}}</p>
            <p>{{project.ownerId}}</p>
            <button ng-click="remove(project)">X</button>
        </li>
    </ul>
</div>